<!-- Moment Scripts -->
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
{% extends 'layout.html' %}

{% block body %}
<!-- Filter bar -->
    <style>
    .highcharts-background {
        padding-top: 2rem;
    }
    .bg-faded {
        margin-bottom: 2rem;
    }

     .highcharts-credits{

        display:none; !important
    }
    .highcharts-button-symbol {

     display:none; !important
    }
    .highcharts-label-box highcharts-data-label-box {


    }


    </style>
  <div class="bg-faded" style="
    padding: 20px 20px;
    background-color: darkgray;
    border-radius: 10px;
">
    <input type="date" id="start_date" class="datepick" value=""> &nbsp;
    <input type="date" id="end_date" class="datepick" value=""> &nbsp;

    <button type="button" class="btn btn-primary" name="btn_filter" id="btn_filter">
      <i class="fa fa-search"></i>Filter
    </button>
  </div>
  
  <div class="row">
      <div col-md-6>
          <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
      </div>
      <div col-md-6>
          <div id="humid_container" style="width: 100%; height: 400px; margin: 0 auto"></div>
      </div>
  </div>




<script>

function plot(start_date_, end_date_) {
  let url = "/api/get_temp?start_date=" + start_date_ + "&end_date=" + end_date_;
  console.log("Api Url:", url);

  $.get(url, function(data){
    Highcharts.chart('container', {
      chart: {
          type: 'areaspline'
      },
      title: {
          text: 'Temperature Reading'
      },
      legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
      subtitle: {
          text: 'Source: Sensor Data'
      },
      xAxis: {
          categories: data.categories,
          tickmarkPlacement: 'on',
          title: {
              enabled: true
          }
      },
      yAxis: {
          title: {
              text: 'Percent'
          }
      },
      tooltip: {
          pointFormat: '<span style="color:{series.color}">{series.name}</span>:({point.y:,0:0.1f})<br/>',
          split: true
      },
      plotOptions: {
          area: {
              stacking: 'percent',
              lineColor: '#ffffff',
              lineWidth: 1,
              marker: {
                  lineWidth: 1,
                  lineColor: '#ffffff'
              }
          }
      },
      series: [{
          name: 'Temperature',
          data: data.temperature
      }]
  });
  });
  
  
  // humidity
  $.get(url, function(data){
    Highcharts.chart('humid_container', {
      chart: {
          type: 'line'
      },
      title: {
          text: 'Humidity Reading'
      },
      subtitle: {
          text: 'Source: Sensor Data'
      },
      xAxis: {
          categories: data.categories,
          tickmarkPlacement: 'off',
          title: {
              enabled: false
          }
      },
      yAxis: {
          title: {
              text: 'Percent'
          }
      },
      tooltip: {
          pointFormat: '<span style="color:{series.color}">{series.name}</span>:({point.y:,0:0.1f})<br/>',
          split: true
      },
      plotOptions: {
          area: {
              stacking: 'percent',
              lineColor: '#ffffff',
              lineWidth: 1,
              marker: {
                  lineWidth: 1,
                  lineColor: '#ffffff'
              }
          }
      },
      series: [{
          name: 'Humidity',
          data: data.humidity
      }]
  });
  });

}

$("#btn_filter").click(function(){
  let start_date = $("#start_date").val();
  let end_date = $("#end_date").val();

  console.log("btn clicked", start_date, end_date)
  plot(start_date, end_date);
});

// call the plot function passing start date and end date = 0, 0
plot(moment().subtract(3, 'days').format('YYYY-MM-DD'), moment().format('YYYY-MM-DD'));



</script>
{% endblock %}
